
.App {
  background-color: rgb(127, 224, 30);
  
}

.Auth-form-container {
  /* background:  url('C:\Users\asus\Desktop\Ecorush\ecofrontend\src\bg.png'); */
  background-size: cover;
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;

  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: transparent;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
  color: white;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: white;
  font-weight: 800;
}
.Auth-form-text-center{
  color: white;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: white;
}